<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Spring Environment( application.properties / .env )에서 확실히 값 끌어오기 -->
    <springProperty scope="context" name="RAB_HOST" source="RABBIT_HOST" defaultValue="localhost"/>
    <springProperty scope="context" name="RAB_PORT" source="RABBIT_PORT" defaultValue="5672"/>
    <springProperty scope="context" name="RAB_USERNAME" source="RABBIT_USERNAME" defaultValue="chs"/>
    <springProperty scope="context" name="RAB_PASSWORD" source="RABBIT_PASSWORD" defaultValue="admins"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="AMQP" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <!-- springProperty로 세팅된 컨텍스트 값을 사용 -->
        <host>${RAB_HOST}</host>
        <port>${RAB_PORT}</port>
        <username>${RAB_USERNAME}</username>
        <password>${RAB_PASSWORD}</password>

        <declareExchange>true</declareExchange>
        <exchangeName>log-exchange</exchangeName>
        <exchangeType>topic</exchangeType>
        <routingKeyPattern>log.key</routingKeyPattern>
        <generateId>true</generateId>
        <charset>UTF-8</charset>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="AMQP" />
    </root>
</configuration>